extends ../layout

block content
    .container
        .row
            .pannel.panel-default
                .panel-heading
                    h3  #{keyword}
                .panel-body
                    if movies && movies.length >0
                        each item in movies
                            .col-md-2.col-xs-6
                                .thumbnail
                                    a(href="/movie/#{item._id}")
                                        img(src="#{item.poster}",alt="#{item.title}")
                                    .caption
                                        h4.text-center #{item.title}
                                        p.text-center: a.btn.btn-primary(href="/movie/"+item._id,role="button") 观看预告片
            ul.pagination
                - for(var i = 0; i < totalPage; i++) {
                    - if (currentPage == (i+1)){
                        li.active
                            span #{currentPage}
                    - }
                    - else {
                        li
                            a(href="/results?#{query}&p=#{i}") #{i + 1}
                    - }
                - }

